
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card  fxFlex="90%">
    <mat-card-title>

      <div class="flex-container">

        <div class="cardInner" gdAreas.lt-md="header | side | content | footer"
             gdRows.lt-md="auto auto auto auto" >
          <div [style.grid-area]="'side'">
            <div><img src="assets/img/CircuitBoard.jpeg" ></div>
          </div>

          <div [style.grid-area]="'content'">
            <div><h3>About Saxler Technology</h3>
              <p>Successful project development involves creating new business value from existing applications;
                transforming legacy systems into new, reusable business components; and leveraging existing enterprise skills and improving productivity.
                We will make sure that your project is well defined with proven development, implementation and deployment processes in place. </p>

              <p>We can help build complex, scalable applications for multiple platforms with minimum development time. We can help you with defining project scope and
                 make recommendations for a successful implementation. Whether you need small modification or major changes we can provide the right consultants to meet
               your company needs.  </p>
            </div>
          </div>
        </div>

      </div>

    </mat-card-title>

  </mat-card>

</div>
