
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card  fxFlex="90%">
    <mat-card-title>

      <div class="flex-container">

        <div class="cardInner" gdAreas.lt-md="header | side | content | footer"
             gdRows.lt-md="auto auto auto auto" >
          <div [style.grid-area]="'side'">
            <div><img src="assets/img/IdeaConcept.jpg" ></div>
          </div>

          <div [style.grid-area]="'content'">
            <div><h3>What is Software Development Life Cycle (SDLC)</h3>
              <p>Software is developed and delivered through a series of steps. That is
                 the one thing all the various methods have in common: one way or another,
                 software, like all products, starts as an idea.The idea then becomes a document, or
                 a prototype, depending on the method in use.

                 Whether a document, diagram, or working software, the artifact created in one step
                 becomes the input to the next step. Eventually, the software is delivered to the customer.
                 The sequence of steps used by these methods is commonly referred to as (SDLC.) </p>
            </div>
          </div>
        </div>

      </div>

    </mat-card-title>

    <mat-card-content>
    </mat-card-content>
  </mat-card>

</div>






<div fxLayout="column" fxLayoutAlign="center" >

  <mat-grid-list responsiveCols='{"xs": 1, "sm": 2, "md": 3, "lg": 3, "xl": 3}' rowHeight="700" >

    <mat-grid-tile>
      <mat-card class="custom-card-2" >
        <div fxLayoutAlign="center">
          <img mat-card-md-image src="assets/img/web-app.jpg"  class="md-card-image" alt="App Dev" >
        </div>
        <mat-card-title>
          Application Development
        </mat-card-title>
         <mat-card-content>
           <h4>How You Will Benefit From Our Application Development Services </h4>
           <li> Visibility into development progress </li>
           <li> All applications are fully documented </li>
           <li> Flexible deployment from on-premises to cloud </li>
           <li> Provide maintainable source code  </li>
           <li> Full-stack development</li>
           <li> Custom user interfaces</li>
           <li> Reliable and Scalable backend solutions</li>
           <li> Agile development scaled to your environment </li>
           <li> Continuous integration and delivery </li>
         </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="custom-card-2" >
        <div fxLayoutAlign="center">
          <img mat-card-md-image src="assets/img/mobile1.png"  class="md-card-image" alt="App Dev" >
        </div>
        <mat-card-title>
          Mobile Application Development
        </mat-card-title>
        <mat-card-content>
          <h4>Why Customer Choose us for Mobile Development </h4>

          <li>Agile mobile design and development methodology</li>
          <li>Assistance with the Apple and Google Play acceptance</li>
          <li>Collaborative, transparent and client-focused approach</li>
          <li>Competitive rates for top mobile app developer talent</li>
          <li>Comprehensive (QA) testing before project “Go Live”</li>
          <li>In-house UX/UI Specialists</li>
          <li>Native cross-platform mobile app soultions</li>
          <li>HTML5-based mobile mobile app solutions</li>
          <li>Rapid, cost-effective services for mobile development</li>


        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card  class="custom-card-2" >
        <div fxLayoutAlign="center">
          <img mat-card-md-image src="assets/img/enterprise.png"  class="md-card-image" alt="App Dev" >
        </div>
        <mat-card-title>
          Enterpirse Architecture
        </mat-card-title>
        <mat-card-content>

          <li>Cloud applications and infrastructure
          <li>Mobile first design patterns
          <li>OAuth 2 for authorization</li>
          <li>Single Sign On (SAML)</li>
          <li>Sustainable, minimal-maintenance software architecture
          <li>Application security design
          <li>Legacy systems integration and modernization



        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>

<!--</div> -->


